@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg-dark-blue: hsl(217, 54%, 11%);
    --card-bg-dark-blue: hsl(216, 50%, 16%);
    --line-dark-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'DongPoppinsle', sans-serif;
    background-color: var(--main-bg-dark-blue);
    color: white;
}